.app {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-width: 2px;
  border-radius: 8px;
  border-color: slategray;
  border-style: solid;
  background-color: #4f5666;
  color: lightsteelblue;
  outline: none;
  transition: border 0.25s ease-in-out;
}

.dropIcon {
  width: 50px;
  height: 43px;
  stroke: lightslategrey;
  fill: lightslategrey;
}

.dropIconActive {
  composes: dropIcon;
  stroke: tomato;
  fill: tomato;
}
